<div class="field">
    	<label for="file">Title</label>
    <%= f.job_title %><br />
  </div>
  <div class="field">
    Position 
    <%= f.position %><br />
  </div>
  <div class="field">
    Country 
    <%#= f.country %>
  </div>
  <div class="field">
    State 
    <%#= f.state %>
  </div>
  <div class="field">
    City 
    <%#= f.city %>
  </div>
  <%#*<div class="field">%>
    <%#= label :start_date %>
    <%#= f.date_select :start_date %>
  <%#*</div>%>
  <div class="field">
    Zipcode
    <%= f.zip_code %>
  </div>
  <div class="field">
    Salary 
    <%= f.salary %>
  </div>
  <div class="field">
    Term of assignment 
    <%= f.term_of_assignment %>
  </div>
  <div class="field">
    Length 
    <%= f.length %>
  </div>
  <div class="field">
    Description 
    <%= f.job_description %>
  </div>