<%= form_for(@user, :url => create_user_record_path(@user, :id => @job_post_id)) do |f| %>


  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

<div><%= f.label :first_name %><br />
  <%= f.text_field :first_name %></div>

<div><%= f.label :last_name %><br />
  <%= f.text_field :last_name %></div>

<div><%= f.label :phone_number %><br />
  <%= f.text_field :phone_number %></div>

<div><%= f.label :message %><br />
  <%= f.text_area :message %></div><br />

  <div><%= f.label :file %><br />
  <%= f.file_field :attachedfile %></div><br />

  <div><%= f.submit "Submit" %></div>
  
<% end %>