<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<div class="abt_left">
  <%= "AboutUs" %><br /><br />
  <%= link_to "Get Live Solutions","#" %>
</div>

<div class="abt_right" style="float:right;">
  <%= link_to "Ramco Cloud ERP Solutions","#" %><br />
  <%= link_to "Human Resource Staffing Solutions","#" %><br />
  <%= link_to "Software Development","#" %><br />
  <%= link_to "Business Process Outsourcing","#" %>
</div>