
<%= link_to "Signup with twitter", "/auth/twitter" %><br />
<%= link_to "Signup with facebook", "/auth/facebook" %><br />
<%= link_to "Signup with linkedin", "/auth/linkedin" %>
<h2>Sign up(user)</h2>

<%= form_for(@jobseeker, :url => creating_jobseeker_path(@jobseeker)) do |f| %>
  <%#= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
